{% extends "base.html" %}
{% block title %}Analytics{% endblock %}
{% block content %}
<section class="dashboard">
  <div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Analytics</span>
            <!-- <select name="sector" id="sector" class="dd">
                <option value="select" selected disabled>Select Topic</option>
                <option value="Health" >Health</option>
                <option value="Employment">Employment</option>
                <option value="Education">Education</option>
                <option value="Finance">Finance</option>
                <option value="Poverty">Poverty</option>
            
              </select> -->
              <form id="myform" method="POST" action="/analytics">
                <div class="multipleSelectionP">
                    <div class="selectBoxP" onclick="showCheckboxesP()">
                        <select class="selectHP">
                            <option class="btn-textP">Select Party</option>
                        </select>
                        <div class="overSelectP" id="displayP"></div>
                    </div>
                    <div id="checkBoxesP">
                        <label for="PTI">
                            <input type="checkbox" id="PTI" class="itemP" name="parties" value="PTI" {% if 'PTI' in selected_parties %} checked {% endif %} />
                            PTI
                        </label>
            
                        <label for="PMLN">
                            <input type="checkbox" id="PMLN" class="itemP" name="parties" value="PMLN" {% if 'PMLN' in selected_parties %} checked {% endif %} />
                            PML-N
                        </label>
                        <!-- <label for="PPP">
                            <input type="checkbox" id="PPP" class="itemP" name="parties" value="PPP" {% if 'PPP' in selected_parties %} checked {% endif %} />
                            PPP
                        </label> -->
                    </div>
                </div>
                <div class="multipleSelection">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select class="selectH">
                            <option class="btn-text">Select location</option>
                        </select>
                        <div class="overSelect" id="display"></div>
                    </div>
                    <div id="checkBoxes">
                        <label for="first">
                            <input type="checkbox" id="first" class="item" name="locations" value="PJ" {% if 'PJ' in selected_locations %} checked {% endif %} />
                            Punjab
                        </label>
            
                        <label for="second">
                            <input type="checkbox" id="second" class="item" name="locations" value="KP" {% if 'KP' in selected_locations %} checked {% endif %} />
                            Khyber Pakhtunkhwa
                        </label>
                        <label for="third">
                            <input type="checkbox" id="third" class="item" name="locations" value="SI" {% if 'SI' in selected_locations %} checked {% endif %} />
                            Sindh
                        </label>
                        <label for="fourth">
                            <input type="checkbox" id="fourth" class="item" name="locations" value="BAL" {% if 'BAL' in selected_locations %} checked {% endif %} />
                            Balochistan
                        </label>
                        <label for="fifth">
                            <input type="checkbox" id="fifth" class="item" name="locations" value="ISL" {% if 'ISL' in selected_locations %} checked {% endif %} />
                            Islamabad
                        </label>
                    </div>
                </div>
            </form>
            
        <!-- Checked DropDown Party -->
      </div>
    </div>
  </div>
  
  <div class="container">
    <div id="wordcloud2"></div>
    <h1>{{str2}}</h1>
    <div class="Guage_container" style="display: flex;">
      <div>
        <h3 id="pos">Positive Sentiment</h3>
        <div id="positive-gauge"></div>
      </div>
      <div>
        <h3 id="neg">Negative Sentiment</h3>
        <div id="negative-gauge"></div>
      </div>
    </div>
  </div>
</section>
<!-- Here the code for wordcloud starts -->
<script>
  const form = document.getElementById('myform');
  const checkboxes = form.querySelectorAll('input[type="checkbox"]');
  
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', () => {
      form.submit();
    });
  });
</script>

<script>
  var selectedl ="{{selected_locations}}"
  var selectedp="{{selected_parties}}"
  // Pass sorted_word_freq dictionary to JavaScript
  var wordFreq = {{ sorted_word_freq|tojson }};
  // Convert dictionary to array of objects and filter words with size less than 10
  var wordList = Object.entries(wordFreq).map(([text, size]) => ({ text, size }));
  wordList = wordList.filter(function(d) {
    return  d.size<=1000  && !d.text.includes("http") && !d.text.includes("rt") && !d.text.includes("of the") && !d.text.includes("co");
  });

  // Use d3-cloud library to generate word cloud
  var width = 1000;
  var height = 400;
  var svg = d3.select("#wordcloud2")
    .append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  var layout = d3.layout.cloud()
    .size([width, height])
    .words(wordList)
    .padding(5)
    .rotate(function() { return ~~(Math.random() * 2) * 90; })
    .fontSize(function(d) {
    {% if selected_locations is defined %}
      {% if selected_locations[0] == "BAL" %}
        return (d.size <= 2) ? d.size * 5 : d.size;
      {% else %}
        return d.size/2;
      {% endif %}
    {% else %}
      return d.size/2;
    {% endif %}
  })
    .on("end", draw);

  layout.start();

  // Define the gradient
  var gradient = svg.append("defs")
    .append("linearGradient")
      .attr("id", "gradient")
      .attr("x1", "0%")
      .attr("y1", "0%")
      .attr("x2", "100%")
      .attr("y2", "100%");

  // Add the gradient colors
  gradient.append("stop")
      .attr("offset", "0%")
      .attr("stop-color", "#0AFA62");

  gradient.append("stop")
      .attr("offset", "100%")
      .attr("stop-color", "#030A8C");

  function draw(words) {
    svg.selectAll("text")
      .data(words)
      .enter().append("text")
      .style("font-size", function(d) { return d.size + "px"; })
      .style("fill", "url(#gradient)")
      .attr("text-anchor", "middle")
      .attr("transform", function(d) {
        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      })
      .text(function(d) { return d.text; })
      .on("click", function(d) {
      var clickedWord = d.text;
      window.location.href = "/testing?word=" + clickedWord ;
      })
      .on("mouseover", function() {
        d3.select(this).style("cursor", "pointer");
      })
      .on("mouseout", function() {
        d3.select(this).style("cursor", "default");
      });
  }
</script>
<!-- Here it ends -->
<!-- The Guage Code starts here-->
<script>
  var negative_percentage = {{ negative_percentage }};
  var positive_percentage = {{ positive_percentage }};

  var positive_gauge = new JustGage({
      id: "positive-gauge",
      value: positive_percentage,
      min: 0,
      max: 100,
      title: "Positive",
      label: "%",
      gaugeWidthScale: 0.6,
      levelColors: ["#D8FCD8", "#A0F9A0", "#228b22","#03DF04"],
      levelColorsGradient: false,
      pointer: true,
      pointerOptions: {
          toplength: -15,
          bottomlength: 10,
          bottomwidth: 12,
          color: "#000"
      },
      startAnimationTime: 2000,
      refreshAnimationTime: 1000,
      valueFontColor: "#000"
  });
  positive_gauge.refresh(positive_percentage);

  var negative_gauge = new JustGage({
      id: "negative-gauge",
      value: negative_percentage,
      min: 0,
      max: 100,
      title: "Negative",
      label: "%",
      gaugeWidthScale: 0.6,
      levelColors: ["#FF4D50", "#EE1B10", "#C6230F"],
      levelColorsGradient: false,
      pointer: true,
      pointerOptions: {
          toplength: -15,
          bottomlength: 10,
          bottomwidth: 12,
          color: "#000"
      },
      startAnimationTime: 2000,
      refreshAnimationTime: 1000,
      valueFontColor: "#000"
  });
  negative_gauge.refresh(negative_percentage);
</script>

<!-- Checked Dropdownjs Topic -->
<script>
  var show = true;

  function showCheckboxes() {
      var checkboxes = 
          document.getElementById("checkBoxes");

      if (show) {
          checkboxes.style.display = "block";
          show = false;
      } else {
          checkboxes.style.display = "none";
          show = true;
      }
  }



</script>
<!-- Checked Dropdownjs Party -->
<script>
  var showP = true;

  function showCheckboxesP() {
      
      var checkboxesP = 
          document.getElementById("checkBoxesP");

      if (showP) {
          checkboxesP.style.display = "block";
          showP = false;
      } else {
          checkboxesP.style.display = "none";
          showP = true;
      }
  }

 

</script>
<script></script>
{% endblock %}