{% extends "base.html" %}
{% block title %}{{word}}{% endblock %}
{% block content %}
<style>
    h1 {
    text-align: center;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"] {
    width: 200px;
}

#results {
    margin-top: 20px;
}

#results p {
    margin-bottom: 10px;
}
</style>
<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <h1>Date Range Slider</h1>
                <div>
                    <form method="post" action="/range">
                        <label for="start_date">Start Date:</label>
                        <input type="date" name="start_date" id="start_date">
                        <br>
                        <label for="end_date">End Date:</label>
                        <input type="date" name="end_date" id="end_date">
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
                <div id="results">
                    <table>
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Tweet</th>
                            <th>Date Time</th>
                            <th>Sentiment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doc in data %}
                        <tr>
                            <td>{{ doc['User'] }}</td>
                            <td>{{ doc['Name'] }}</td>
                            <td>{{ doc['tweet_text'] }}</td>
                            <td>{{ doc['time'] }}</td>
                            <td>
                                {% if doc['sentiment'] == 'P' %}
                                <span style="font-size: 32px; color: green;">😊</span>
                                {% elif doc['sentiment'] == 'N' %}
                                <span style="font-size: 32px; color: red;">😔</span>
                                {% else %}
                                <span style="font-size: 32px; color: blue;">😐</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            
        </div>
    </div>

</section>

{% endblock %}